*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
  }

  #clickInfo {
    margin-top: 100px;
    text-align: center;
    font-size: 1.5rem;
  }
